body {
  font-family: Arial;
  max-width: 500px;
  margin: auto;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
